.card {
  border: 1px solid #444; /* Ajustar grosor del borde */
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 16px; /* 游댳 Agrega separaci칩n entre cartas */
  min-width: 50vh;
  max-width: 90vh; 
}

.cardTitle {
  font-size: 20px; /* Aumentar tama침o del t칤tulo */
}

:global(.ant-card-head) {
  padding: 1px 16px !important; /* Reduce el espacio arriba/abajo */
  border-bottom: 1px solid #333 !important;
}

:global(.ant-card-body) {
  padding-top: 8px !important; /* Reduce el espacio entre la l칤nea y el contenido */
}

.numerosContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding: 5px 0;
}

.numerosContainer div {
  display: flex;
  align-items: center; /* Alinea t칤tulo y tags en la misma l칤nea */
  gap: 8px; /* Espacio entre t칤tulo y tags */
}

.tituloConTags {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px; /* Ajusta el espacio entre el t칤tulo y las tags */
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  cursor: pointer;
}

.eliminarPersona {
  color: red;
  cursor: pointer;
  margin: 0; /* Elimina m치rgenes innecesarios */
  padding: 0; /* Asegura que no tenga relleno extra */
  line-height: 1; /* Evita que el texto tenga un alto innecesario */
  display: flex;
  align-items: center; /* Ajusta la alineaci칩n dentro del propio elemento */
  font-weight: normal; /* Evita que se vea en negrita */
}

.cardTitleContainer {
  display: flex;
  gap: 10px; /* Espacio entre los textos */
  align-items: center;
}
