.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Cambié flex-start a center */
  padding: 20px;
  width: 100%;
  max-width: 1200px;
    margin: 0 auto;
    display: grid;
  place-items: center; /* Centra horizontal y verticalmente */
}
  
  .buttonContainer {
    display: flex;
    gap: 10px;
  }
  
  .defaultButton {
    background-color: #1677ff;
    border: none;
    color: white;
  }
  
  .activeButton {
    background-color: #5c9ad4;
    border: none;
    color: white;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
  }  

.mainContainer {
    justify-content: center; /* Centra los elementos */
    width: 100%;
}

.leftSection {
    flex-direction: column;
    align-items: flex-start; /* Centra los elementos */
    width: 100%;
}
.cargarPersona {
  display: flex;
  align-items: center;
  gap: 8px;
}
.especificationButton {
  margin-bottom: -10px;
  display: flex;
  align-items: center;
  gap: 8px;
}