
  
  .buttonContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .input {
    width: 200px;
  }
  
  .button {
    background-color: #1890ff;
    color: white;
  }
  
  .infoContainer {
    display: flex;
    gap: 15px;
    font-size: 16px;
    font-weight: 500;
  }
  
  .infoLabel {
    background: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .eliminarActivo {
    color: #f5222d !important; /* Texto rojo como el color principal */
    border: 1px solid transparent !important;
    border-color: #f5222d !important; /* Borde rojo al hacer hover */
    border-radius: 6px;
    padding: 8px 16px;
    transition: all 0.3s;
}