.numerosContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }