.card {
    margin-bottom: 20px;
    width: 650px;
    max-width: 650px;
    min-width: 550px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cardTitle {
    font-weight: bold;
    font-size: 18px;
    margin: 0; /* Evita que el título se desplace */
  }
.contenedor {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.bloque {
  width: 45%;
  padding: 10px;
  border: 2px dashed #c4c4c4;
  min-height: 150px;
  background: #f9f9f9;
  border-radius: 8px;
}

.categoria {
  margin-bottom: 10px;
}

.customTag {
    font-size: 16px; /* Aumenta el tamaño del texto */
    padding: 4px 7px; /* Ajusta el espacio interno */
    border-radius: 6px; /* Bordes redondeados */
    transition: all 0.3s ease;
    cursor: default;
  }
  
  .customTag:hover {
    opacity: 0.8; /* Efecto visual al pasar el mouse */
  }  
  /* 🔷 Tags dentro de categorías */
  .modoMoverTag {
    font-size: 16px; /* Aumenta el tamaño del texto */
    padding: 4px 7px; /* Ajusta el espacio interno */
    border-radius: 6px; /* Bordes redondeados */
    transition: all 0.3s ease;
    cursor: grab;
  }

  .modoSeleccionable {
    font-size: 16px; /* Aumenta el tamaño del texto */
    padding: 4px 7px; /* Ajusta el espacio interno */
    border-radius: 6px; /* Bordes redondeados */
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .addButton {
    margin-left: 10px; /* Espacio entre el título y el botón */
  }
  
  .addButton:disabled {
    background-color: #d9d9d9; /* Color gris cuando está deshabilitado */
    color: #bfbfbf; /* Color gris claro para el texto */
    cursor: not-allowed; /* Cambia el cursor para indicar que no se puede hacer clic */
  }

  .placeholderText {
    font-size: 17px; /* Más grande */
    color: #444; /* Un gris más oscuro */
  }

  .buttonsContainer {
    display: flex;
    justify-content: space-between;
  }

  .visible {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease-in-out;
  }
  
  .oculto {
    opacity: 0;
    pointer-events: none; /* Hace que no se pueda interactuar cuando está oculto */
    transition: opacity 0.3s ease-in-out;
  }